@font-face {
    font-family: Noto;
    src: url(fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf);
}
/* div{
    position: relative;
    border: 0.02rem solid red;
    padding: 0.05rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
body{
    background-color: #06252b; /* #0d3e47 */
    color: wheat;
}
#foto_de_perfil{
    float: left;
    width: 15rem;
    padding: 0.4rem;
    background-color: #38a5bb;
}
#desc{
    position: absolute;
    left: 18rem;
    top: 7rem;
    width: 37rem;
    margin: 0rem;
}
#name{
    margin: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
ul li:nth-child(odd){
    color: red;
    font-weight: bold;
}
#top{
    height: 22rem;
}